*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;

}

.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg,rgb(11, 10, 10),#2c495f);
    display: flex;
    align-items: center;
    justify-content: safe;


}
.calender{
    width: 800px;
    height: 300px;
    background: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
.left, .right{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    flex-direction: column;

}

.right{
    width: 50%;
    background:#2c495f;
    color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-weight: 600;
    font-size: 34px;
   
  
}
.left{
    width: 50%;
    font-weight: 700;
    font-size: 30px;
    color: rgb(51, 51, 49);


}
#date{
    font-size: 70px;
    line-height: 90px;

}
#month{
    line-height:80px ;
}
#heading{
    color: #fff;
    position: relative;
    bottom: 220px;
    left:600px;
    font-size: 45px;
    font-family: cursive;
}